body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: skyblue;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 80%;
    max-width: 1000px;
    max-height: 800px;
}

h1 {
    color: white;
    font-size: 50px;
}

p {
    color: white;
    font-size: 23px;

}

p1
 {
    color: white;
    font-size: 20px;
}
p1 a {  
    color: black;
    text-decoration: none;
}

.p1 a:hover {
        text-decoration: underline;
}
.upload-section {
    margin: 20px 0;
    position: relative;
}

#fileInput {
    width: 100%;
    padding: 10px;
    border: 2px dashed #ccc;
    border-radius: 10px;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}

.upload-section label {
    display: block;
    padding: 15px;
    border: 2px dashed #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    cursor: pointer;
}

#fileName {
    display: block;
    margin-top: 10px;
    color: #999;
}

.save-section {
    margin: 20px 0;
    color: white;

}

#convertBtn {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#convertBtn:hover {
    background-color: #218838;
}

.terms {
    color: white;
    font-size: 20px;
}

.terms a {
    color: black;
    text-decoration: none;
}

.terms a:hover {
    text-decoration: underline;
}